<h1>Список пользователей</h1>

<div>
  <% @users.each do |user| %>
    <div><%= link_to user.login, user_posts_path(user) %></div>
  <% end %>
</div>

<div>
  <%= form_tag get_posts_top_users_path(format: :json), method: :get do %>
    <%= text_field_tag :evaluation %>
    <%= text_field_tag :limit %>
    <%= submit_tag 'Получить N по средней оценке постов' %>
  <% end %>
</div>
<br>
<br>
<div>
  <%= form_tag get_ip_users_path(format: :json), method: :get do %>
    <%= submit_tag 'Получить ip' %>
  <% end %>
</div>